/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clr-primary: hsl(47, 88%, 63%);
  --ff-primary: figtree;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--clr-primary);
  font-family: var(--ff-primary);
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  border: 0.5px solid black;
  box-shadow: 10px 10px 5px black;
  border-radius: 1rem;
  padding: 1.25rem;
  width: 20rem;
  height: 50vh;
}

.toppic {
  border-radius: 1rem;
}

.learning {
  background-color: var(--clr-primary);
  width: 5rem;
  height: 1.75rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.published {
  font-size: 0.8rem;
  font-weight: 500;
}

.bold {
  font-size: 0.8rem;
  font-weight: 800;
}

h1 {
  font-weight: 800;
  font-size: 1.25rem;
}

h1:hover {
  color: var(--clr-primary);
  cursor: pointer;
}

.desc {
  color: gray;
  font-weight: 500;
  font-size: 0.85rem;
}

.greg {
  display: flex;
}

.gregpic {
  transform: scale(60%);
}

.greg > p {
  position: relative;
  top: 5px;
}

.learning > p {
  position: relative;
  top: 5px;
  left: 15px;
}
